#title{
  background-color: #35858B;
  color:#fff;
}

.container-fluid{
  text-align: center;
  padding: 0% 5% 2% 5%;
}
h1{
  font-family: Sacramento;
  font-size: 4rem;
}
.author-img{
     border-radius: 50%;
     padding: 5% 5%;
}
.navbar{
    padding: 2% 2%;
}
.nav-brand{
  font-family: Montserrat;
}

.navbar-nav{
  position: absolute;
  right: 0;
}

.title-button{
  padding:10px 20px;
  margin: 20px;
}
button.navbar-toggler{
  position: absolute;
  right: 0;
}

footer{
  text-align: center;
}

.foot-icon{
  padding: 2%
}

#skills{
  padding: 2% 2%;
  text-align: center;
}
.icon:hover
{
  color:#ff4c68;
}

#others{
  background-color: #35858B;
  color: white;
  padding: 5% 10%;
  font-size: 2rem;
}

#websites{
  background-color: #325288;
  color: white;
  padding: 5% 10%;
  text-align: center;
}

.btn-tindog{
  padding: 10px 20px;
  font-size: 1.5rem;
  background-color: #ff4c68;
}

.btn-tindog:hover{
  color:white;
  background-color: #ef8172;
}

h2{
  font-family: Montserrat;
  font-size: 3rem;
}
